{% extends 'base.html' %} 
{% load static %} 
{% block title %}Articles{% endblock title %} 


{% block meta_tags %} 
{% endblock meta_tags %}




{% block page_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
    
    body {
    background-image: url("{% static 'images/back.jpg' %}");
    }


/* {% comment %} banner start {% endcomment %} */


/*  */
/* style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px;" */


.container-fluid {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 15%;
    padding-top: 20%;
    
}
  


.container {
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 20%;
}

.col-lg-8 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 66.666667%;
    max-width: 800px;
    margin: 0 auto;
   

}



@media (max-width: 992px) {
    .col-lg-8 {
        padding: 10px;
        box-shadow: none;
    }
    .smlhead h5, .share-container .smlbtn, .icons h5 {
        font-size: 14px;
    }
    .icons i {
        font-size: 18px;
    }
}


@media (max-width: 768px) {
    .col-lg-8 {
        padding: 10px;
    }
    .form-row {
        display: flex;
        flex-direction: column;
    }
    .form-group {
        width: 100%;
    }
    .input-field, .textarea-field {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
    .submit-btn {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }

    .share-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .share-title {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .col-lg-8 {
        padding: 5px;
    }
    h1 {
        font-size: 24px;
    }
    .comment-btn {
        font-size: 16px;
    }
    .smlhead h5 {
        font-size: 12px;
    }
}


.MAGAZINE-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


a {
    color: #ff5000;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: black;
    text-decoration: underline;
}

h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #212529;
    font-size: 2.5rem;
}


p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* {% comment %} banner end {% endcomment %} */


/* {% comment %} comment start {% endcomment %} */



.comment-img {
    width: 100%;
    max-width: 60px;
    height: auto;
    border-radius: 50%;
}

.comment-btn {
    padding: 5px 10px;
    font-size: 14px;
    color: #ff5000;
    background-color: transparent;
    /* border: 1px solid #007bff; */
    border-radius: 4px;
    font-weight: bold;
    
}



p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* {% comment %} comment end {% endcomment %} */

/* {% comment %} comment form start {% endcomment %} */


.input-field, .textarea-field {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.submit-btn {
    padding: 5px 5px;
    color: #fff;
    background-color: #ff5000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color:chocolate;
}



/* {% comment %} share buttons {% endcomment %} */
.smlhead h5 {
    /* background-color: #0185AE; */
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: bold;
}



    .share-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        
    }

    .smlbtn {
        display: flex;
        align-items: center;
    }

    .smlbtn .likeit{
        color:#ff5000 ;
        font-weight: bold;
        font-size: 1.5rem;
    

    }

    .overlay {
        margin-left: 10px;
        padding: 5px 10px;
        background-color: #ff5000;
        color: white;
        text-decoration: none;
        border-radius: 20px;
    }

    .overlay:hover {
        background-color:chocolate;
        color: white;
    }

    .icons {
        display: flex;
        gap: 10px;
       
    }
    

    .icons i {
    font-size: 1.2rem;
    color: black;
    transition: color 0.3s;
    cursor: pointer;



    
        
    }

    .icons i:hover {
        color: #007bff;
    }

    @media (max-width: 768px) {
        .share-container {
            flex-direction: column;
            align-items: flex-start;
        }
    }












    

    /* trending item start */

.Load-more {
   

    color:black;
    padding: 5px 5px;
    background-color:white;
}

.Load-more:hover {
    color:#6c757d;
    padding: 5px 5px;
    
}

  
    .trending-item {
        display: flex;
        align-items: center;
        background-color: #fff;
        margin-bottom: 15px;
        height: 110px;
        border: 1px solid #ddd;
    }

    .trending-item img {
        width: 110px;
        height: 110px;
        object-fit: cover;
    }

    .trending-item div {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .trending-item a {
        color: black;
        text-decoration: none;
        font-size: 0.80rem;
        font-weight: bold;
    }

    @media (max-width: 768px) {
        .trending-item {
            flex-direction: column;
            height: auto;
        }

        .trending-item img {
            width: 100%;
            height: auto;
        }
    }

    .trending-item a:hover {
        text-decoration: underline;
    }

    .trending-item small {
        color: #6c757d;
    }








    .fullnewsletter {
        background-color: #fff;
        padding: 20px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .newsletter-input-group {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .newsletter-input-group input {
        padding: 5px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 70%;
    }

    .fullnewsletter button {
        padding: 5px 20px;
        font-size: 16px;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 20px;
        cursor: pointer;
       
    }

    .fullnewsletter button:hover {
        background-color: #0056b3;
    }

    .fullnewsletter small {
        display: block;
        margin-top: 10px;
        color: #6c757d;
    }


    .newsletter-container p {
        font-weight: bold;
    }


    .signUp {
        background: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
      font-weight: bold;
}
    
                 
       </style>


{% endblock page_css %}



{% block content %}



<body>
  
    <!-- News With Sidebar Start -->
    <div class="container-fluid">
        <div class="container ">
            <div class="row" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px;">
                <div class="col-lg-8" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px;">
                    <!-- News Detail Start -->
                    <div>
                        <a href="">Technologies</a>
                        <h1>The double-edge sword of ARTIFICIAL INTELLIGENCE</h1>
                        <a href="">Jan 01, 2045</a>
                        <img src="{% static '/img/ai.jpg' %}" class="MAGAZINE-img" alt="" style="width: 100%; height: auto;">
                        <div>
                            <p>Artificial Intelligence (AI) stands at the forefront of the Fourth Industrial Revolution, promising to revolutionize industries, enhance human capabilities, and tackle complex global challenges...</p>
                            <a href="">Read the full article</a>
                        </div>
                    </div>
                    <br>


                    <div class="smlhead">
                        <h5>Subscribe to our channels on <a href="">Telegram</a> & <a href="">YouTube</a>. Follow us on <a href="">Twitter</a> and <a href="">Facebook</a></h5>
                    </div>


                    <div class="share-container">
                        <div class="smlbtn">
                            <small class="likeit">Like it?</small>
                            <a class="overlay" href="#"><span class="arrow-btn"> Support Us</span></a>
                        </div>
                        <div class="icons">
                            <h5 class="share-title">Share:</h5>
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>

                        </div>
                    </div>
                    <!-- News Detail End -->
                


                    <!-- Comment List Start -->
                    <div>
                        <h4 style="color: #ff5000; font-weight: bold;">1 Comment</h4>
                        <div>
                            <img src="{% static '/img/Drone2.jpg' %}" alt="Image" class="comment-img" style="width: 100%; max-width: 60px; height: auto; border-radius: 50%;">
                            <div>
                                <h6><a href="">John Doe</a> <small><i>01 Jan 2045</i></small></h6>
                                <p>Diam amet duo labore stet elitr invidunt ea clita ipsum voluptua, tempor labore accusam ipsum et no at...</p>
                                <h3 class="comment-btn">LEAVE A REPLY</h3>
                            </div>
                        </div>
                    </div>
                    <!-- Comment List End -->
                
                    <!-- Comment Form Start -->
                    <div>
                        <h4 style="color: #ff5000; font-weight: bold;">Leave a comment</h4>
                        <div>
                            <form>
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="message">Message *</label>
                                        <textarea id="message" cols="30" rows="5" class="textarea-field" style="width: 100%;"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Name *</label>
                                        <input type="text" id="name" class="input-field" style="width: 100%;">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email *</label>
                                        <input type="email" id="email" class="input-field" style="width: 100%;">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="website">Website</label>
                                    <input type="url" id="website" class="input-field" style="width: 100%;">
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post comment" class="submit-btn"><br>
                                    <input type="checkbox" id="comment-checkbox"> Save my name, email, and website in this browser for the next time I comment.<br>
                                    <input type="checkbox" id="comment-checkbox"> Yes, add me to your mailing list
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Comment Form End -->
                </div>







                





                <div class="col-lg-4" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px; position: -webkit-sticky; position: sticky; top: 0;">
                    <div class="Latest_Articles " style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px;">
                        <h4 style="color: #ff5000; font-weight: bold;">Latest Articles</h4>
                        <div >
                            <div class="trending-item" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px;">         
                                <div>  
                                    <a href="">BEHIND THE SCENES : HOW CODING FUELS DRONES POWER</a>
                                    <div> 
                                        <a href=""><small>Jan 01, 2045</small></a>
                                    </div>
                                </div>
                                <img src="{% static '/img/coding.jpg' %}" alt="">
                            </div>
                            <div class="trending-item" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px;">
                                <div>   
                                    <a href="">
                                        MAKING USE OF VIDEO SURVEILLANCE TECHNOLOGY</a>
                                    <div>          
                                        <a href=""><small>Jan 01, 2045</small></a>
                                    </div>
                                </div>
                                <img src="{% static '/img/VideoSurveillance.jpg' %}" alt="">
                            </div>
                            <div class="trending-item" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px;">
                                <div>   
                                    <a href="">PARADIGM SHIFT IN MARITIME WARFARE</a>
                                    <div>
                                        <a href=""><small>Jan 01, 2045</small></a>
                                    </div>
                                </div>
                                <img src="{% static '/img/PARADIGM.jpg' %}" alt="">
                            </div>
                            <div class="trending-item" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px;">
                                <div>   
                                    <a href="">HOW TO BECOME THE NEXT TECH UNICORN</a>
                                    <div>
                                        <a href=""><small>Jan 01, 2045</small></a>
                                    </div>
                                </div>
                                <img src="{% static '/img/unicorn.jpg' %}" alt="">
                            </div>
                            <div class="trending-item" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px;">
                                <div>   
                                    <a href="">THE DOUBLE-EDGED SWORD OF ARTIFICIAL INTELLIGENCE</a>
                                    <div>
                                        <a href=""><small>Jan 01, 2045</small></a>
                                    </div>
                                </div>
                                <img src="{% static '/img/ai.jpg' %}" alt="">
                            </div>
                            <div class="trending-item" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px;">
                                <div>   
                                    <a href="">MUSIC ON AUTOPILOT: IS AI PUSHING ARTISTS OUT OF THE PICTURE?</a>
                                    <div>
                                        <a href=""><small>Jan 01, 2045</small></a>
                                    </div>
                                </div>
                                <img src="{% static '/img/autopilot.png' %}" alt="">
                            </div>
                            <input type="submit" value="Load more >" class="Load-more"><br>
                        </div>
                    </div>
                    <!-- Newsletter Start -->
                    <div class="fullnewsletter" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 15px;">
                        <img src="{% static '/img/Namaste.jpg' %}" alt="" style="width: 30%; max-width: 400px; height: auto;">
                        <div class="newsletter-container">
                            <p>Sign up to receive FT-Magazine content in your inbox</p>
                            <div class="newsletter-input-group">
                                <input type="text" placeholder="Your Email">          
                            </div>
                            <button class="signUp">Sign Up</button>
                            <div><small>We don’t spam! Read our <a href="">privacy policy</a>  for more info.</small></div>
                        </div>
                    </div>
                    <!-- Newsletter End -->
                </div>
            </div>
        </div>
    </div>
   


   


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-square back-to-top"><i class="fa fa-arrow-up"></i></a>


    
    <script src="js/main.js"></script>
</body>

</html>

{% endblock content %} 
        